:root {
  --NAVY-BLUE: #2e2f42;
  --WHITE: #ffffff;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
  --IRIS: #4d5ae5;
  --CORNFLOWER: #e7e9fc;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
  --DAIRY: #fcfcfc;
  --LIGHT-SLATE: #8e8f99;

  --font-main: "Roboto", sans-serif;
  --font-logo: "Raleway", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  width: 100%;
}

button {
  cursor: pointer;
  border: 0;
}

body {
  color: var(--SLATE);
  background-color: var(--WHITE);
  font-family: var(--font-main);
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.current {
}

/* Header */
.header {
  border-bottom: 1px solid var(--CORNFLOWER);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-style {
  color: var(--IRIS);
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
  display: inline-block;
}

.logo-span {
  color: var(--NAVY-BLUE);
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.navigation-item {
  position: relative;
  color: var(--OCEAN);
}

.nav-list {
  position: relative;
  color: var(--OCEAN);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list:hover,
.nav-list:focus {
  color: var(--OCEAN);
}

.underline:hover,
.underline:focus {
  color: var(--OCEAN);
}

.underline::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--OCEAN);
  border-radius: 2px;
  z-index: 1;
  color: var(--OCEAN);
}

.address-contacts {
  font-style: normal;
  gap: 40px;
  align-self: center;
  display: block;
  margin-left: 332px;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-self: center;
}

.contacts-item {
  padding: 24px 0;
}

.contact-link {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--OCEAN);
}

/* Hero section */
.hero {
}

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background: var(--NAVY-BLUE);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.hero-title {
  color: var(--WHITE);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.btn-order {
  display: inline-block;
  color: var(--WHITE);
  background-color: var(--IRIS);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 48px auto 0;
  width: 169px;
  height: 56px;
  display: block;
  border: 0;
  min-width: 169px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover,
.btn-order:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
}

/* Benefits section */
.benefits {
  padding: 120px 0;
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  padding: 24px 100px;
  border-radius: 4px;
  background: var(--CLOUD);
  margin-bottom: 8px;
}

.benefits-icon:hover,
.benefits-icon:focus {
  border-color: var(--OCEAN);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-title {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-text {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Doing section */
.doing {
  padding-bottom: 120px;
}
.doing-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.doing-list {
  display: flex;
  box-sizing: border-box;
  gap: 24px;
}

.doing-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.doing-picture {
}

/* Our Team */
.team {
  background-color: var(--CLOUD);
  padding: 120px 0;
}

.team-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-subtitle {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-text {
  color: var(--SLATE);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  display: block;
  background-color: var(--WHITE);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-text {
  padding: 32px 0;
}

.card-social {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-social-item {
  width: 40px;
  height: 40px;
  display: block;
  width: cal((100% - 72px)/4);
  flex-shrink: 0;
}

.card-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--IRIS);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.card-social-link:hover,
.card-social-link:focus {
  background-color: var(--OCEAN);
}

.social-link {
  padding: 32px 0;
}

.social-link-icon {
  fill: var(--CLOUD);
}

/* Customers section */

.customers {
  padding: 120px 0 120px;
}

.customers-titlle {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: calc((100%- 120) / 6);
  width: 168px;
  height: 88px;
  /* border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE); */
  flex-shrink: 0;
}

.customers-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: var(--LIGHT-SLATE);
  border: 1px solid var(--LIGHT-SLATE);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link-icon {
  fill: currentColor;
  justify-content: center;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--OCEAN);
  border-color: var(--OCEAN);
}

/* Portfolio */
.section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-portfolio {
}

.btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-portfolio {
  color: var(--IRIS);
  background-color: var(--CLOUD);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  display: block;
  height: 48px;
  min-width: 69px;
  padding: 12px 24px;
  border: 1px solid var(--CORNFLOWER);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.projects-item {
  background-color: var(--WHITE);
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item-link:hover,
.projects-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-item-link:hover .projects-image-text {
  transform: translateY(0%);
}
.projects-item-link:focus .projects-image-text {
  transform: translateY(0%);
}

.project-link {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.project-title {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-subtext {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER);
  border-top: none;
}

.projects-image {
  position: relative;
  overflow: hidden;
}

.projects-image:hover .overlay {
  transform: translateX(0);
}

.overlay {
  content: " ";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-image-text {
  content: " ";
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--CLOUD);
  padding: 40px 32px;
  background-color: var(--IRIS);
}

/* Footer */
.footer {
  background-color: var(--NAVY-BLUE);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.footer .logo-style {
  margin-bottom: 16px;
  padding: 0;
}

.footer-text {
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-bottom: 16px;
}

.span-logo-footer {
  color: var(--CLOUD);
}

.footer-social-link {
}
/* .footer .card-social {
  gap: 16px;
} */
.footer-social-text {
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-bottom: 16px;
}

.footer-social {
  gap: 16px;
  display: flex;
  justify-content: space-between;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item {
  width: 40px;
  height: 40px;
  width: cal((100% - 72px)/4);
}

.footer .card-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .card-social-link:hover,
.footer .card-social-link:focus {
  background-color: #31d0aa;
}

/* Modal  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  align-items: center;
  background: var(--DAIRY);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--CORNFLOWER); */
  background: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #434455;
}

.modal > .modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close .modal-icon:hover,
.modal-close .modal-icon:focus {
  fill: var(--WHITE);
}
