:root {
  --NAVY-BLUE: #2e2f42;
  --WHITE: #ffffff;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
  --IRIS: #4d5ae5;
  --CORNFLOWER: #e7e9fc;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;

  --font-main: "Roboto", sans-serif;
  --font-logo: "Raleway", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  width: 100%;
}

button {
  cursor: pointer;
  border: 0;
}

body {
  color: var(--SLATE);
  background-color: var(--WHITE);
  font-family: var(--font-main);
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-style {
  color: var(--IRIS);
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
  display: inline-block;
}

.logo-span {
  color: var(--NAVY-BLUE);
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation-container {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header {
  border-bottom: 1px solid var(--CORNFLOWER);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.nav-list:hover,
.nav-list:focus {
  color: var(--OCEAN);
}

.address-contacts {
  font-style: normal;
  gap: 40px;
  align-self: center;
  display: block;
  margin-left: 332px;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-self: center;
}

.contacts-item {
  padding: 24px 0;
}

.contact-link {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--OCEAN);
}

/* Hero section */
.hero {
  background: var(--NAVY-BLUE);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
}

.hero-title {
  color: var(--WHITE);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.btn-order {
  display: inline-block;
  color: var(--WHITE);
  background-color: var(--IRIS);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 48px auto 0;
  width: 169px;
  height: 56px;
  display: block;
  border: 0;
  min-width: 169px;
  border-radius: 4px;
}

.btn-order:hover,
.btn-order:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
}

/* Benefits section */
.benefits {
  padding: 120px 0;
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-title {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-text {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Doing section */
.doing {
  padding-bottom: 120px;
}
.doing-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.doing-list {
  display: flex;
  box-sizing: border-box;
  gap: 24px;
}

.doing-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.doing-picture {
}

/* Our Team */
.team {
  background-color: var(--CLOUD);
  padding: 120px 0;
}

.team-container {
}

.team-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--WHITE);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-portrait {
}

.team-subtitle {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-text {
  color: var(--SLATE);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-item-text {
  padding: 32px 0;
}

/* Portfolio */
.section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-portfolio {
}

.btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-portfolio {
  color: var(--IRIS);
  background-color: var(--CLOUD);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  display: block;
  height: 48px;
  min-width: 69px;
  padding: 12px 24px;
  border: 1px solid var(--CORNFLOWER);
  border-radius: 4px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
  border: 1px solid transparent;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.projects-item {
  background-color: var(--WHITE);
  width: calc((100% - 48px) / 3);
}

.projects-item-link {
  display: block;
}

.project-link {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.project-title {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-subtext {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER);
  border-top: none;
}

.footer {
  background-color: var(--NAVY-BLUE);
  padding: 100px 0;
}

.footer-container {
}

.footer .logo-style {
  margin-bottom: 16px;
  padding: 0;
}

.footer-info {
  color: var(--CLOUD);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.span-logo-footer {
  color: var(--CLOUD);
}
