:root {
  --NAVY-BLUE: #2e2f42;
  --WHITE: #ffffff;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
  --IRIS: #4d5ae5;
  --CORNFLOWER: #e7e9fc;
  --OCEAN: #404bbf;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
  background-color: var(--WHITE);
  text-decoration: none;
  list-style: none;
}

.logo-style {
  color: var(--IRIS);
  font-family: "Raleway", sans-serif;
  font-size: 18 px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03 em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-span {
  color: var(--NAVY-BLUE);
  font-family: "Raleway", sans-serif;
  font-size: 18 px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03 em;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-list {
  color: var(--NAVY-BLUE);
  font-family: "Roboto", sans-serif;
  font-size: 16 px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02 em;
}

.navigation-list:hover {
  color: var(--OCEAN);
}

.navigation-list:focus {
  color: var(--OCEAN);
}

.contacts {
  font-style: normal;
}
.contact-email {
  color: var(--SLATE);
  font-family: "Roboto", sans-serif;
  font-size: 1 px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02 em;
  text-decoration: none;
}

.contact-email:hover {
  color: var(--OCEAN);
}

.contact-email:focus {
  color: var(--OCEAN);
}

.contact-phone {
  color: var(--SLATE);
  font-family: "Roboto", sans-serif;
  font-size: 16 px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02 em;
  text-decoration: none;
}

.contact-phone:hover {
  color: var(--OCEAN);
}

.contact-phone:focus {
  color: var(--OCEAN);
}

.btn {
  color: var(--IRIS);
  text-align: center;
  background-color: var(--CLOUD);
  font-family: "Roboto", sans-serif;
  font-size: 16 px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04 em;
  cursor: pointer;
}

.btn:hover {
  color: var(--WHITE);
  background-color: var(--OCEAN);
}

.btn:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
}

.link-project {
  color: var(--SLATE);
  font-family: "Roboto", sans-serif;
  font-size: 16 px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02 em;
}

.list-project {
  color: var(--NAVY-BLUE);
  font-family: Roboto;
  font-size: 20 px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02 em;
}

footer {
  background-color: var(--NAVY-BLUE);
}

.p-footer {
  color: var(--CLOUD);
  font-family: "Roboto", sans-serif;
  font-size: 16 px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.03 em;
}

.span-logo-footer {
  color: var(--WHITE);
}
