.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}
.current {
  color: var(--NAVY-BLUE);
}

.current::after {
  content: "";
  color: var(--OCEAN);
}
/* Header */
.header {
  border-bottom: 1px solid var(--CORNFLOWER);
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-style {
  color: var(--IRIS);
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
  display: inline-block;
}

.logo-span {
  color: var(--NAVY-BLUE);
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: none;
}

.address-contacts {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.menu-icon {
  stroke: var(--NAVY-BLUE);
}

/* Hero */

.hero {
  max-width: 1440px;
  padding-top: 112px;
  padding-bottom: 112px;
  background: var(--NAVY-BLUE);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-bg_mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (max-width: 767.98px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg_mob@2x.jpg);
  }
}

.hero-title {
  color: var(--WHITE);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  max-width: 320px;
  min-height: 80px;
  text-transform: capitalize;
  margin: 0 auto 72px;
  text-align: center;
}
.btn-order {
  color: var(--WHITE);
  background-color: var(--IRIS);
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
}

.btn-order:hover,
.btn-order:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
}

/* Benefits section */
.benefits {
  padding: 96px 0;
}

.benefits-title {
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 396px;
  margin-bottom: 8px;
}
.benefits-icon {
  display: none;
}
.benefits-text {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-item {
}

/* Doing */

.doing {
  display: none;
}

/* Our Team */

.team {
  padding: 96px 0 ;
  background-color: var(--CLOUD);
}

.team-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-subtitle {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-text {
  color: var(--SLATE);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-item {
  width: 100%;
  max-width: 264px;
  height: 428px;
  background-color: var(--WHITE);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-text {
  padding: 32px 0;
}
.card-social {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-social-item {
  width: 40px;
  height: 40px;
  display: block;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--IRIS);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-social-link:hover,
.card-social-link:focus {
  background-color: var(--OCEAN);
}

.social-link {
  padding-bottom: 32px;
}

.social-link-icon {
  fill: var(--CLOUD);
}

/* Customers section */
.customers-container {
  padding: 96px 0;
}

.customers-titlle {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.customers-item {
  width: calc((100% - 120px) / 2);
  height: 88px;
  flex-shrink: 0;
}

.customers-link {
  padding: 16px 40px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: var(--LIGHT-SLATE);
  border: 1px solid var(--LIGHT-SLATE);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link-icon {
  fill: currentColor;
  justify-content: center;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--OCEAN);
  border-color: var(--OCEAN);
}

/* Footer */
.footer {
  padding: 96px 0;
  background-color: var(--NAVY-BLUE);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 72px;
}

.footer-info {
  display: block;
}

.footer .logo-style {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.footer-text {
  margin: 0 auto;
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.span-logo-footer {
  color: var(--CLOUD);
}

.footer-social-link {
}

.footer-social-text {
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  text-align: center;
  margin-bottom: 18px;
}

.footer-social {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer .card-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .card-social-link:hover,
.footer .card-social-link:focus {
  background-color: var(--GREEN);
}

.footer-box{
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-subscribe-text {
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.email {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--WHITE);
  opacity: 0.3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: transparent;
  margin-bottom: 16px;
  color: var(--WHITE);
}
.email:hover,
.email:focus {
  color: var(--OCEAN);
  background: var(--NAVY-BLUE);
  opacity: 1;
}

.email::placeholder {
  color: var(--WHITE);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.btn-subscribe {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  background: var(--IRIS);
  color: var(--WHITE);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-email {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-subscribe-block {
}

.footer-icon {
  margin-left: 16px;
  fill: var(--WHITE);
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: calc(100% - 20px);
  max-width: 408px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  min-height: 584px;
  align-items: center;
  background: var(--DAIRY);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--NAVY-BLUE);
  background: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #434455;
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--WHITE);
  background-color: var(--IRIS);
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close .modal-icon:hover,
.modal-close .modal-icon:focus {
  fill: var(--WHITE);
}

.modal-caption {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: block;
}

.btn-modal {
  height: 56px;
  border-radius: 4px;
  background: var(--IRIS);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  color: var(--WHITE);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;

  min-width: 169px;
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: var(--OCEAN);
}

.modal-box {
  margin-bottom: 8px;
  position: relative;
}

.modal-field {
  border-radius: 4px;
  margin-bottom: 8px;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-icon-form {
  fill: var(--NAVY-BLUE);
}

.modal-icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--NAVY-BLUE);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within + .modal-icon-form {
  fill: var(--IRIS);
}

.modal-label {
  color: var(--LIGHT-SLATE);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-bottom: 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 8px 38px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-field {
}

.modal-input:focus-within,
.modal-comment-field:focus-within {
  border-color: var(--IRIS);
}

.textarea::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04px;
}

.modal-input:focus-within + .modal-icon {
  stroke: var(--IRIS);
}

.modal-agreement {
  color: var(--LIGHT-SLATE);
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.modal-checkbox-icon {
  fill: transparent;
  opacity: 0;
  stroke: transparent;
}

.agreement {
  margin-top: 16px;
  margin-bottom: 24px;
}

.modal-agreement-input {
  display: block;
}

.modal-agreement-input:checked + .modal-agreement .modal-checkbox {
  fill: var(--CLOUD);
  border: none;
  background-color: var(--OCEAN);
}

.modal-agreement-input:checked + .modal-agreement .modal-checkbox {
  color: var(--OCEAN);
  border: none;
}
.modal-agreement-input:checked .modal-checkbox {
  background-color: var(--OCEAN);
}

.modal-agreement-input:checked + .modal-agreement .modal-checkbox-icon {
  fill: var(--WHITE);
  opacity: 1;
}

.modal-agreement-input {
  appearance: none;
}

.modal-agreement-link {
  color: var(--IRIS);
}

.menu-container {
  padding: 80px 35px 40px 40px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--WHITE);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.menu-info {
  margin-bottom: 284px;
}
.menu-contact-info {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.contacts-item-mob {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-toggle-close {
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--NAVY-BLUE);
  background: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #434455;
}

.menu-toggle-close:hover,
.menu-toggle-close:focus {
  fill: var(--WHITE);
  background-color: var(--IRIS);
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle-close .modal-icon:hover,
.menu-toggle-close .modal-icon:focus {
  fill: var(--WHITE);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  text-transform: capitalize;
}

.current {
  color: var(--OCEAN);
}
.menu-social {
  display: flex;
  justify-content: space-between;
}

.contacts-tel-mob {
  color: var(--IRIS);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: 100%;
  display: block;
}

@media only screen and (max-width: 427px) {
  .contacts-tel-mob {
    font-size: 20px;
  }
}

.contacts-mail-mob {
  color: var(--SLATE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  display: block;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  /* Header */
  .navigation-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  /* Hero section */
  .hero {
  }
  .hero-title {
    color: var(--WHITE);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    max-width: 320px;
    min-height: 80px;
    text-transform: capitalize;
    margin: 0 auto 72px;
  }
  .btn-order {
    color: var(--WHITE);
    background-color: var(--IRIS);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
